{{ define "home"}}
<!DOCTYPE html>
<html lang="en">

<head class="d-none">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../static/js/script.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
        integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <title>Document</title>
</head>

<body>

    <div class="d-flex row">
        <div class="col-3 py-5">
            <h3></h3>
            <ol>
                <li><button class="filler btn" onclick="fillForm('ilyas')">Junior Golang Developer</button></li>
                <li><button class="filler btn" onclick="fillForm('eldana')">Middle iOS Developer </button></li>
            </ol>
        </div>

        <div class="col-9">
            <h1 class="text-center">AI Interview</h1>
            <br>
            <div id="main">
                <div class="intro">
                    <input type="text" value="" name="username" id="username" class="form-control" placeholder="Enter name...">
                    <input type="text" value="" name="YearsOfCommercialExperience" id="YearsOfCommercialExperience" class="form-control" placeholder="Enter years of commercial experience...">
                    <input type="text" value="" name="CurrentPosition" id="CurrentPosition" class="form-control" placeholder="Enter current position...">
                    <input type="text" value="" name="DesiredPosition" id="DesiredPosition" class="form-control" placeholder="Enter desired position...">
                    <textarea name="stack" id="stack" cols="30" class="form-control" rows="10" placeholder="Describe stack..."></textarea>
                    <button onclick="startInterview()" class="btn">Technical Interview</button>
                    <button onclick="startRoadmap()" class="btn">Generate a detailed roadmap</button>
                </div>
                <div class="chat thin">
                    <div class="card">
                        <div id="messages" class="card-block"></div>
                    </div>
                    <textarea id="textarea" name="inputMessage" class="form-control"placeholder="Enter message..."></textarea>
                    <button onclick="sendChat()" id="send" class="btn">Send</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
{{ end }}