* {
    display: block;
    margin: 0;
    padding: 0;
}

script {
  display: none;
}

#messages{
  height:300px;
  overflow-y: scroll;
}

.thin {
  opacity: 0;
  position: absolute;
  margin-top: 100vh;
}